body{
    background-color: rgb(117, 128, 138);
}

table{
    padding: 30px;
    margin: auto;
    width: 960px;
    background-color: rgb(117, 170, 216);
}

h1{
    text-align: center;
}

hr{
    color: rgb(4, 0, 255);
    
}

h2{
    color:  rgb(4, 0, 255);
    font-variant: small-caps;
    box-sizing: border-box;
  border: none;
  border-bottom: 2px dotted rgb(4, 0, 255);
  border-top: 2px solid rgb(4, 0, 255);
  margin-right: 40%;

}

p{
    text-align: justify;
}

img{
    max-width: 200px;
    border: 10px solid rgb(4, 0, 255);
}

.kep1{
    float: right;
    margin-bottom: 40px;
    margin-left: 20px;
}

.kep2{
    float: right;
    clear: both;
    margin-left: 20px;
    margin-bottom: 5px;
}

ul{
    list-style-image: url(img/kukac.png);
}

.kep3{
    float: left;
    margin: 20px;
    margin-top: 55px;
   
}


.kep4{
    float: right;
    margin-left: 20px;
    margin-bottom: 5px;
}

.kep5{
    float: left;
    margin: 20px;
    margin-top: 55px;
}

#a{
    font-style: italic;
    margin-left: 350px;
}

