body{
    background-color: rgb(117, 128, 138);
}

table{
    padding: 30px;
    margin: auto;
    width: 960px;
    background-color: rgb(117, 170, 216);
}

h1{
    text-align: center;
}

hr{
    color: rgb(4, 0, 255);
    size: double;
    
}

h2{
    color:  rgb(4, 0, 255);
}